.boton.cinco::after {
    content:"";
    width:100px;
    height: 100px;
    background:#0bd8f3;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton.cinco:hover::after{
    top: 0;
}