.boton.uno::after {
    content:"";
    width:100px;
    height: 100px;
    background:#c4b107;
    position: absolute;
    z-index: 1;
    top: -80px;
    left: 0;
    transition: .3s ease-in-out all;
}

.boton.uno:hover::after{
    top: 0;
}